@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:ital,wght@0,900;1,900&family=Noto+Sans:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-gray-100 text-lg leading-7;
  }
}

  .whatsapp-button {
  @apply fixed bottom-8 right-8 z-50;
}

  .whatsapp-button img {
  @apply w-12 h-12 rounded-full shadow;
}

.yellow-gradient-text {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffe9b3 0.89%,
    #ffe3a0 17.23%,
    #ffde8d 42.04%,
    #ffd87a 55.12%,
    #ffd367 71.54%,
    #ffcd54 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.red__gradient {
  background: linear-gradient(90deg, hsl(345, 72%, 64%) 0%, #d81143 100%);
  filter: blur(900px);
}

.blue__gradient {
  background: linear-gradient(90deg, hsl(184, 75%, 62%) 0%, #064087 100%);
  filter: blur(900px);
}

.bg-purple-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #403b4d -78.47%,
    #302539 91.61%
  );
}